/*colour*/
$primaryColor: hotpink;
$secondaryColor: green;

$textColorDark: black;
$textColorLight: gray;
$textColorWhite: white;

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$fontFamily: Poppins;

$fontSizeSmall: .75rem;
$fontSizeMedium: 1rem;
$fontSizeLarge: 1.25rem;
$fontSizeXLarge: 2rem;


/*Mixins*/
@mixin grid($gap) {
  display: grid;
  gap: $gap;
}